body{
  background-color: #83898b;
}

.App {
  text-align: center;
  background-color: #dee1e1;
}

.App .menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 0.5%;
}

.ItemListContainer .MuiTypography-h1{
  color: blue;
}

.buttons button {
  color: black;
  background-color: white;
  font-size: 25px;
  border-radius: 5px;
}

.buttons span {
  font-size: 25px;
}

