body {
  background-color: #ffffff;
}

.App {
  text-align: center;
  background-color: #ffffff;
}

.App .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 0.5%;
}

.categories {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.itemMenu {
  margin-left: 3rem;
}



.buttons button {
  color: black;
  background-color: white;
  font-size: 25px;
  border-radius: 5px;
}

.buttons span {
  font-size: 25px;
}

.cardShoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.singleCard {
  width: 300px;
  height: 430px;
  margin: 4rem auto 4rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.25s;
}

.singleCard:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}

.ItemDetail {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  background-color: white;
  width: 100vw;
  height: 70vh;
  bottom: 10rem;
}

.ItemDetail .detail {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 3rem;
  margin-right: 9rem;

}

.ItemDetail .price {
  color: rgb(24, 179, 0);
}

.itemDetailPicture{
  width: 50rem;
  border-radius: 5%;
  margin-top: 3rem;

}
/* style={{ width: '50rem', borderRadius: 10 }} */

.counter {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;


}

.counter .buyNow {
  margin-bottom: 1rem;
  margin: 20px;
}

.counter .btnCounter {
  margin: .5rem;
}

.counter .countNumber {
  size: 4rem;
}


.goToCart {
  display: flex;
  justify-content: space-around;
}

.containerCart {
  margin: 1rem;
  width: 100%;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 90%; */
}

.itemTable {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  text-align: left;
  width: 80%;
  margin: 0;
  padding: 0;

}

th{
  padding: 1rem 2rem 1rem;
}
td {
  padding: 1rem 2rem 1rem;
}

.pictureInCart {
  display: block;
  width: 8rem
}


.titleInCart {
  font-size: 1rem;
}

.producTitle{
  display: block;
}

/* .producDetail{
  padding-right: -60px;
} */

.cartDetail {
  padding: 9rem;
}

.itemsInCart {
  padding: 8rem;
}

.totalPay {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: end;
  padding: 1rem;
  margin-right: 4rem;

}

.buttonsCart {
  align-items: flex-end;
  display: flex;
  justify-content: end;
  padding: 1rem 2rem 3rem;
  margin-right: 3rem;
}

.goBuy {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.cartNumber {
  display: none;
  position: absolute;
  top: 8px;
  right: -10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #000000;

}

.footer-container{
  padding: 2rem;
  margin-top: 4rem;
}



.socialIcons{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


.categoryPrice{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 2rem 0rem 2rem;
  align-items: center;
}

.itemPrice{
  color: rgb(0, 182, 6);
  font-size: 1.5em;
  font-weight: 600;
}

.itemCategory{
  color: rgb(86, 86, 86);
  font-weight: 400;
  text-transform: uppercase;
}

.coverHome{
  width: 70rem;
}

.bodyCart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10rem 5rem 20rem 5rem;
}

.notificationCart{
  margin-right: -1.5rem;
  margin-top: -1.2rem;
}

.cartTitle{
  display: flex;
  text-align: left;
  margin-left: 1rem;
}

.checkOutBox{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 90px;
  
}

.formStyle{
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  margin-right: 0rem;
}

.inputBox{
  position: relative;
  width: 500px;
  
}

.inputBox input {
  width: 100%;
  padding: 20px;
  margin: 0px 0px 30px 0px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  color: #000000;

}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  margin: -85px 0px 0px 0px;
  pointer-events: none;
  font-size: 1em;
  color: rgb(0, 0, 0, 0.45);
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #000000;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #ffffff;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.finishBuy{

  width: 100%;
  padding: 20px;
  margin: 0px 0px 30px 45px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  background-color: #000000;
  font-size: 1rem;
  text-transform: uppercase;
}

.checkOutTitle{
  text-align: left;
  margin-left: -440px;
}

.backToHome{
  width: 100%;
  padding: 20px;
  margin: 0px 0px 50px 0px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  background-color: #000000;
  font-size: 1rem;
  text-transform: uppercase;
}

.buttonsItemDetai{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.buttonsItemDetail Button {
  margin: 30px 40px 50px 60px;

}

@media (max-width: 768px) {
  .coverHome{
    width: 50rem;
  }

  .ItemDetail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    background-color: white;
    width: 100vw;
    height: 100vh;
  }

  .ItemDetail .detail {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin-right: 0rem;
  
  }
  
  .ItemDetail .price {
    color: rgb(24, 179, 0);
    font-size: 25px;
  }
  
  .itemDetailPicture{
    width: 18rem;
    border-radius: 5%;
    margin-top: 30rem;
  }

  .counter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 4rem;
    margin-bottom: 5rem;
  
  
  }
  
  .counter .buyNow {
    margin-bottom: 1rem;
  }
  
  .counter .btnCounter {
    margin: .5rem;
  }
  
  .counter .countNumber {
    size: 14rem;
  }

  .footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin-top: 15rem;
  }
  
  .socialIcons{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  } 

  .buttonsItemDetail Button {
    margin: 10px 10px 10px 10px;
  
  }

  .containerCart {
  margin: 1rem;
  width: 100%;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 90%; */
}

.itemTable {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0rem;

}

th,
td {
  padding: 1rem 1rem 1rem;
}

.cartDetail {
  padding: 9rem;
}

.itemsInCart {
  padding: 8rem;
}

.totalPay {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: end;
  padding: 1rem;
  margin-right: 4rem;

}

.buttonsCart {
  align-items: flex-end;
  display: flex;
  justify-content: end;
  padding: 1rem 2rem 3rem;
  margin-right: 3rem;
}

.goBuy {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.pictureInCart {
  display: block;
  width: 7rem;
}

.producTitle{
  display: none;
}

.cartDetail {
  display: none;
  padding: 9rem;
}

.cartStyle{
  display: flex;
  flex-direction: column;
}


.checkOutBox{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 90px;
  
}

.formStyle{
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  margin-right: 2rem;
}

.checkOutTitle{
  text-align: center;
  margin-left: 0px;
}

.inputBox{
  position: relative;
  width: 450px;
  
}

.inputBox input {
  width: 100%;
  padding: 20px;
  margin: 0px 0px 30px 0px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  color: #000000;

}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  margin: -85px 0px 0px 0px;
  pointer-events: none;
  font-size: 1em;
  color: rgb(0, 0, 0, 0.45);
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #000000;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #ffffff;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
}

@media (max-width: 414px) {
  .coverHome{
    width: 20rem;
  }

  .ItemDetail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    padding-top: 16rem;
    background-color: white;
    width: 100vw;
    height: 100vh;
  }

  .ItemDetail .detail {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin-right: 0rem;
  
  }
  
  .ItemDetail .price {
    color: rgb(24, 179, 0);
    font-size: 25px;
  }
  
  .itemDetailPicture{
    width: 18rem;
    border-radius: 5%;
    margin-top: 0rem;
  }

  .counterContainer{
    margin-bottom: 0rem;
  }

  .counter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 15rem;
  
  
  }
  
  .counter .buyNow {
    margin-bottom: 1rem;
  }
  
  .counter .btnCounter {
    margin: .5rem;
  }
  
  .counter .countNumber {
    size: 14rem;
  }

  .footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin-top: 4rem;
  }

  .footer-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin-top: 4rem;
  }
  
  .socialIcons{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  } 

  .socialIcons a{
    padding: 1rem;
  }

  .buttonsItemDetail Button {
    margin: 10px 10px 10px 10px;
  
  }

  .containerCart {
  margin: 0rem;
  width: 100%;
  display: flex;
  justify-content: center;

  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 90%; */
}

.itemTable {
  background-color: rgb(255, 255, 255);
  border: 5px solid black;
  text-align: left;
  width: 20%;
  margin: 1rem;
  padding: 0;

}

th,
td {
  padding: 1rem 1rem 1rem;
}

.cartTitle{
  display: flex;
  text-align: center;
  margin-left: 1rem;
}

.cartDetail {
  padding: 9rem;
}

.itemsInCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: 1rem;
  
}

.totalPay {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: end;
  padding: 1rem;
  margin-right: 0rem;
  margin: 1rem;
  justify-content: center;

}

.buttonsCart {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem 0rem;
  margin-right: 0rem;
}

.goBuy {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.pictureInCart {
  display: block;
  width: 7rem;
}

.producTitle{
  display: none;
}

.cartDetail {
  display: none;
  padding: 9rem;
}

.cartStyle{
  display: flex;
  flex-direction: column;
}


.checkOutBox{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
  
}

.formStyle{
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  margin-right: 2rem;
}

.checkOutTitle{
  text-align: center;
  margin-left: 0px;
}

.inputBox{
  position: relative;
  width: 250px;
  
}

.inputBox input {
  width: 100%;
  padding: 20px;
  margin: 0px 0px 30px 0px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  color: #000000;

}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  margin: -85px 0px 0px 0px;
  pointer-events: none;
  font-size: 1em;
  color: rgb(0, 0, 0, 0.45);
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #000000;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #ffffff;
  border-left: 1px solid black;
  border-right: 1px solid black;
}


  
}



